body{
	background: #CBBB9B;
	margin: 0 auto;
	padding: 0;
	font-family: "Helvetica", "Arial";
}
#wrapper{
	width: 960px;
	height: auto;
	background: #DAD5C1;
	border-left: 5px solid #A09885;
	border-right: 5px solid #A09885;
	overflow: auto;
	margin: 0 auto;
	padding:10px;
}
header{
	width: 100%;
	height:100px;
	border-bottom: 3px solid #7C7063;	
}
header div#logo{
	float:left;
	margin: 15px 0 0 80px;
}
header div#social{
	float:right;
	margin: 20px 30px 0 0;
}
#social ul li{
	float:left;
	list-style: none;
	padding-right: 5px;
}
#social img{
	width:55px;
	height:55px;
}
nav{
	float: left;
	width: 275px;
	height: 100%;
}
#menu ul{
	float:left;
	height:auto;
	width:200px;
}
#menu ul li{
	list-style: none;
	padding: 5px;
	text-align: center;
	
}
#menu ul li a{
	background: #CBBB9B;
	color: #4E4F3E;
	text-decoration: none;
	padding: 10px 0;
	display: block;
}
#menu ul li a:hover{
	color: #fff;
}
#content{
	float: left;
	width:655px;
	height:100%;
	padding-left: 15px;
	letter-spacing: 1;
	color: #57574C;
	border-left: 3px solid #7C7063;	
}
#content h1{
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid #7C7063;
}
#content img{
	float:right;
	padding: 0 0 5px 10px;
}
p{
	text-indent: 50px;
	line-height: 25px;
}